<div class="hilight-wrapper">
    <div class="container">
        <div class="row">
           <div class="col-md-4">
              <p class="events-header">Running For Brews 5k Events</p>
               <img class="img-responsive img-thumbnail" src="http://runningforbrews.com/img/kevincover.jpg" alt="" width="555" height="226" />
           </div>

            <div class="col-md-8">
                <h3 class="events-header">We Love 5k Running & Craft Brews</h3>
            </div>
        </div>
    </div>
</div>
