/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}

.display-4 {
    magin-top: 10px;
    font-family: 'Walter Turncoat', cursive;
}

.events-header {
    font-family: 'Walter Turncoat', cursive;
}
.hilight-wrapper {
    background: url(http://runningforbrews.com/img/beer-light.jpg) repeat-y center center;
    background-size: 100%;
    padding: 100px 0 100px 0;
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

